<h2>Search Page</h2>

<form action="/search" method="POST">
    <input type="text" name="name" placeholder="Search By Cocktail Name">
    <button type="submit">Search</button>
</form>

<form action="/search" method="POST">
    <input type="text" name="name" placeholder="Search By Ingredient">
    <button type="submit">Search</button>
</form>